useDynLib(pilot, .registration=TRUE)

import(Rcpp)
import(methods)
importFrom("utils", "capture.output")


export(pilot)
export(PILOTcpp)
S3method(predict, PILOT)
S3method(plot, PILOT)
S3method(print, PILOT)